<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Change Password | Zyntra</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/change_password.css') }}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css">

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/topbar.css') }}">


</head>

<body>

    {% include "includes/topbar.html" %}

<div class="container">

    <div class="card">

        <h1>

            <i class="fa-solid fa-lock"></i>

            Change Password

        </h1>

        {% if error %}
        <div class="error">
            {{ error }}
        </div>
        {% endif %}

        {% if success %}
        <div class="success">
            {{ success }}
        </div>
        {% endif %}

        <form method="POST">

            <div class="input-box">

                <label>Current Password</label>

                <input
                    type="password"
                    name="current_password"
                    required>

            </div>

            <div class="input-box">

                <label>New Password</label>

                <input
                    type="password"
                    name="new_password"
                    required>

            </div>

            <div class="input-box">

                <label>Confirm Password</label>

                <input
                    type="password"
                    name="confirm_password"
                    required>

            </div>

            <button type="submit">

                <i class="fa-solid fa-key"></i>

                Update Password

            </button>

            <a href="/profile" class="back-btn">

                <i class="fa-solid fa-arrow-left"></i>

                Back To Profile

            </a>

        </form>

    </div>

</div>

</body>

</html>