<div class="sidebar">

    <!-- MAIN -->
    <div class="menu-title">
        MAIN
    </div>

    <ul>

        <li>
            <a href="/dashboard">
                <i class="fa-solid fa-house"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li>
            <a href="/calendar">
                <i class="fa-solid fa-calendar-days"></i>
                <span>Calendar</span>
            </a>
        </li>

        <li>
            <a href="/notes">
                <i class="fa-solid fa-note-sticky"></i>
                <span>Notes</span>
            </a>
        </li>

        <li>
            <a href="/tasks">
                <i class="fa-solid fa-list-check"></i>
                <span>Tasks</span>
            </a>
        </li>

        <li>
            <a href="/files">
                <i class="fa-solid fa-folder"></i>
                <span>Files</span>
            </a>
        </li>

    </ul>


    <!-- AI TOOLS -->
    <div class="menu-title">
        AI TOOLS
    </div>

    <ul>

        <li>
            <a href="/ai-chat">
                <i class="fa-solid fa-robot"></i>
                <span>AI Chat</span>
            </a>
        </li>

        <li>
            <a href="/ai-analyzer">
                <i class="fa-solid fa-brain"></i>
                <span>AI Analyzer</span>
            </a>
        </li>

         <!-- AI FILE CREATOR -->
        <li>
            <a href="/file-creator">
                <i class="fa-solid fa-file-circle-plus"></i>
                <span>File Creator</span>
            </a>
        </li>

    </ul>


    <!-- ACCOUNT -->
    <div class="menu-title">
        ACCOUNT
    </div>

    <ul>

        <li>
            <a href="/profile">
                <i class="fa-solid fa-user"></i>
                <span>Profile</span>
            </a>
        </li>

        <li>
            <a href="/settings">
                <i class="fa-solid fa-gear"></i>
                <span>Settings</span>
            </a>
        </li>

    </ul>


    <!-- BOTTOM -->
    <div class="bottom-menu">

        <a href="/logout">

            <i class="fa-solid fa-right-from-bracket"></i>

            <span>Logout</span>

        </a>

        <p>
            Version 1.0.0
        </p>

    </div>

</div>